<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Embed Hub</title>
</head>
<body>
<form method="post" action="/add">
    <button type="submit" >
        Add
    </button>
</form>
<form method="post" action="/delete">
    <button type="submit">
        Delete all
    </button>
</form>

<th:block th:if="${devices != null}">
    <ul >
        <li th:each="device : ${devices}">
            <th:block th:text="${device.toString()} ">
            </th:block>
            <form method="post" th:action="@{'/addEntry/{id}' (id=${device.getId()})}">
                <button type="submit">
                    Add entry
                </button>
                <input type="number" value="50" name="temperature" id="temperature">
                <input type="number" value="50" name="humidity" id="humidity">
                <input type="number" value="50" name="soilMoisture" id="soilMoisture">
            </form>

            <ul>
                <li th:each="entry : ${device.getData()}">
                    <th:block th:text="${entry.toString()}">

                    </th:block>
                </li>
            </ul>
        </li>
    </ul>
</th:block>
<form method="post" action="/addLightBulb">
    <button type="submit">Add Light Bulb</button>
    <input type="text" name="location" id="location">
</form>
<th:block th:if="${lightBulbDevices != null}">
    <ul>
        <li th:each="device : ${lightBulbDevices}">

            <th:block th:text="${device.toString()}"></th:block>

            <th:block th:text="${device.getTurnedOn() == true ? 'On' : 'Off'}">

            </th:block>
            <form method="post" th:action="@{'/toggle/{id}' (id=${device.getId()})}">
                <button type="submit">Toggle light</button>
            </form>

            <form method="get" th:action="@{'/view/lightBulb/{id}' (id=${device.getId()})}">
                <button type="submit">
                    View data
                </button>
            </form>


        </li>
    </ul>
</th:block>

<th:block th:if="${lightBulbDataEntries != null}">
    <ul>
        <li th:each="entry : ${lightBulbDataEntries}">
            <th:block th:text="${entry.toString()}">

            </th:block>
        </li>
    </ul>
</th:block>

</body>
</html>